html, body {
	background-color: black;

}

header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 40px;
	color: ivory;
	text-align: center;

}

main {
	display: grid;
	box-shadow: 5px;
	grid-gap: 0.5em;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 1em;
	border: 10px;
	padding: 1em;
	width: 430px;
	height: 675px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	grid-template-rows: 1fr 12px 12px 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas:
	"monster monster  monster					"
	"monsterBio monsterBio monsterBio "
	"	text 		text 		 text						"
	"  .      score      .						"
	"	 hp 			vs 		total						"
	"	.			dice		lives							"
	" .		  dice		rollButton				"
	" .				  startButton 	.				"
	" .				resetButton			.				"
	;
}

footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: ivory;
	text-align: center;
	}

	
		/*buttons and controls*/
#rollButton {
		
		grid-area: rollButton;
		display: grid;
		border-radius: 100px;
		height: 80px;
		width: 80px;
		color: white;
		font-size: 15px;
		font-family: 'Audiowide', cursive;
		background-color: red;
		text-align: center;
	}

#rollButton:hover {
	color: black;
	background-color: rgb(138, 15, 15);
	border-color: rgb(138, 15, 15);
	transition: 0.35s;
}

#rollButton:active {
	background-color: rgba(255, 0, 0, 0.877);
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

#rollButton:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

#startButton {
	grid-area: startButton;
	display: grid;
	border-radius: 100px;
	height: 16px;
	width: 150px; 
	color: black;
	font-size: 12px;
	background-color: gray;
	text-align: center;
}


#resetButton {
	grid-area: resetButton;
	display: grid;
	border-radius: 100px;
	height: 16px;
	width: 150px; 
	color: black;
	font-size: 12px;
	background-color: gray;
	text-align: center;
}


/*Game Space*/

#monster {
	grid-area: monster;
	display: grid;
	text-align: center;
	background-color:rgb(232, 243, 72);
	height: 300px;
	border-radius: 1em;
	font-family: 'Audiowide', cursive;
}

#monsterBio {
	grid-area: monsterBio;
	border: 1px gray dashed;
	display: grid;
	background-color: rgb(232, 243, 72);
	height: 20px;
	width: 400px;
	margin: 0 auto;
	font-family: 'Audiowide', cursive;
	font-size: 13px;
	text-align: center;
}

#monster img {
	height: 270px;
	text-align: center;
	margin: 0 auto;
}

#text {
	grid-area: text;
	border: 1px gray dashed;
	display: grid;
	background-color: rgb(232, 243, 72);
	height: 20px;
	width: 300px;
	margin: 0 auto;
	font-family: 'Audiowide', cursive;
	font-size: 13px;
	text-align: center;
}

#score {
	grid-area: score;
	border-radius: 10px; 
	display: grid; 
	background-color: rgb(232, 243, 72);
	height: 20px;
	width: 100px;
	font-family: 'Audiowide', cursive;
	font-size: 13px;
	text-align: center;
	padding: 10px; 
	border: 5px;
}

#hp {
	grid-area: hp;
	border-radius: 10px;
	display: grid;
	background-color: maroon;
	height: 90px;
	width: 100px;
	font-family: 'Audiowide', cursive;
	font-size: 80px;
	text-align: center;
}

#vs {
	grid-area: vs;
	border-radius: 10px;
	display: grid;
	height: 90px;
	width: 100px;
	font-family: 'Audiowide', cursive;
	font-size: 60px;
	color: white;
	text-align: center;
}

#total {
	grid-area: total;
	border-radius: 10px;
	display: grid;
	background-color: rgb(39, 252, 39);
	height: 90px;
	width: 100px;
	color: black;
	font-size: 80px;
	text-align: center;
	font-family: 'Audiowide', cursive;
}

#dice { 
	background-image: url("../img/dicerollinf.gif");
	max-width: auto;
	max-height: auto;
	grid-area: dice;
	border-radius: 10px;
	display: grid;
	background-color: lightblue;
	height: 130px;
	width: 130px;
}


#lives {
	grid-area: lives;
	border-radius: 10px;
	display: grid;
	background-color: lightblue;
	height: 45px;
	width: 45px;
	font-family: 'Audiowide', cursive;
	text-align: center;
	font-size: 20px;
	margin: 0 auto;
}


/* Media Queries? */




/* Hardhat Area:

-Media query for mobile optimization


	<div id="center-dice-animation">dice</div>
	<div id="advantages">advantages</div>
	<div id="right-dicetotal




*/

